.primary-app-button {
    background: $primary;
    color: white;
    font-family: inherit;
    border-radius: $border-radius;
    border: none !important;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 15px;
    cursor: pointer;
    transition: ease-in-out 0.15s all;
    min-width: 300px;
    max-width: 100% !important;
    box-sizing: border-box;

    &:hover {
        opacity: 0.5;
    }
}

.gform_wrapper.cf-application_wrapper {
    .validation_error {
        display: none !important;
    }

    .validation_message {
        color: red !important;
    }

    li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    li.gfield_error textarea {
        border-color: red !important;
    }

    form .gf_progressbar_wrapper {
        h3.gf_progressbar_title {
            text-align: center;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .gf_progressbar {
            box-shadow: none !important;
            border-radius: 0 !important;
            padding: 0 !important;
            background-color: transparent !important;

            &:after {
                height: 16px;
                margin-top: -16px;
            }

            .gf_progressbar_percentage {
                height: 16px;
                background-color: $primary !important;
                background-image: none !important;
                overflow: hidden;

                span {
                    font-size: 0 !important;
                    width: 36px;
                    height: 16px;
                    background-size: 100% auto;
                    background-image: url(../images/carsfast-car-icon.png);
                    background-color: #E5E5E5;
                    margin: 0;
                }
            }
        }
    }

    .gform_body {
        text-align: center;
        margin: 0 auto;
        max-width: 600px;

        @media only screen and (min-width: $xlarge) {
            margin-top: 100px;
            font-size: 1.3em;
        }

        * {
            box-sizing: border-box !important;
        }

        .gfield {
            // padding-right: 0 !important;

            .ginput_container_radio {
                .gfield_radio {
                    width: 100% !important;

                    >li {
                        overflow: initial !important;

                        input[type=radio] {
                            display: none;

                            &:checked+label {
                                border-color: $primary;
                                box-shadow: 0 4px 0px $primary;
                            }
                        }

                        label {
                            display: block !important;
                            width: 100% !important;
                            max-width: 100% !important;
                            margin: 0 !important;
                            padding: 10px 15px;
                            border: 1px solid $gray;
                            border-radius: $border-radius;
                            transition: ease-in-out 0.05s all;
                        }
                    }
                }
            }

            .ginput_container {
                .instruction {
                    display: none !important;
                }

                label {
                    color: black !important;
                }

                input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
                    text-align: center;
                }

                input[type=text],
                input[type=number],
                input[type=tel],
                input[type=email] {
                    display: block !important;
                    background: $lightgray;
                    padding: 10px 15px !important;
                    border: 1px solid $gray;
                    border-radius: $border-radius;
                    transition: ease-in-out 0.05s all;
                    width: 100%;
                    max-width: 100% !important;
                    box-sizing: border-box;
                    height: 40px;

                    &::placeholder {
                        color: $gray;
                    }
                }

                .slider-display {
                    margin-top: 10px !important;

                    .noUi-handle {
                        background: $primary !important;
                        box-shadow: none !important;
                    }

                    .min-val-relation,
                    .max-val-relation {
                        display: none !important;
                    }
                }
            }

            .gfield_description {
                color: $gray;
            }

            .ginput_container_select,
            .ginput_complex {
                select {
                    display: block !important;
                    background: $lightgray;
                    padding: 0 !important;
                    border: 1px solid $gray;
                    border-radius: $border-radius;
                    transition: ease-in-out 0.05s all;
                    width: 100%;
                    max-width: 100% !important;
                    box-sizing: border-box;
                    height: 40px;
                    margin-top: 12px !important;
                    line-height: 1.15 !important;
                    margin-bottom: 0 !important;
                    text-align-last: center;
                }
            }

            &.pre_dollar {
                .ginput_container {
                    position: relative;

                    &:before {
                        content: "$";
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 45px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        height: 40px;
                        border: 1px solid $gray;
                        border-right: none;
                        border-radius: 5px 0 0 5px;
                        font-weight: bold;
                        background: white;
                    }

                    input[type=text],
                    input[type=number] {
                        width: calc(100% - 45px);
                        margin-left: auto;
                        border-radius: 0px 5px 5px 0px;
                    }
                }
            }

            &.post_years,
            &.post_months,
            &.post_hours {
                .ginput_container {
                    position: relative;

                    &:after {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 110px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        height: 40px;
                        border: 1px solid $gray;
                        border-left: none;
                        border-radius: 0px 5px 5px 0px;
                        font-weight: bold;
                        background: white;
                    }

                    input[type=text],
                    input[type=number] {
                        width: calc(100% - 110px) !important;
                        margin-right: auto;
                        border-radius: 5px 0 0 5px;
                    }
                }
            }

            &.post_years {
                .ginput_container {
                    &:after {
                        content: "Years";
                    }
                }
            }

            &.post_months {
                .ginput_container {
                    &:after {
                        content: "Months";
                    }
                }
            }

            &.post_hours {
                .ginput_container {
                    &:after {
                        content: "Hours";
                    }
                }
            }

            &.gfield_error {
                background-color: transparent !important;
                margin-bottom: 0 !important;
                border: none !important;
                padding-top: 0 !important;
            }

            &.cf-radio-two-col {
                .ginput_container_radio {
                    .gfield_radio {
                        display: inline-block;
                        width: 100%;

                        li {
                            width: 49% !important;

                            &:first-child {
                                float: left;
                            }

                            &:last-child {
                                float: right;
                            }
                        }
                    }
                }
            }
        }

        .gform_page {
            &:not(.cf-location-finder) {
                animation: cf-page-transition 0.25s ease-in;
            }

            .gform_page_fields {}

            .gform_page_footer {
                border-top: none !important;

                .gform_previous_button {
                    display: none !important;
                }

                .gform_next_button,
                input[type=submit] {
                    @extend .primary-app-button;
                    margin: 0 !important;
                }
            }
        }
    }
}

.cf-slide-title {
    font-weight: 600 !important;
    font-size: 1.3em;
    line-height: 1.5;
    margin-bottom: 30px;

    @media only screen and (min-width: $xlarge) {
        margin-bottom: 50px;
    }
}

.cf-slide-desc {
    padding-left: 40px;
    position: relative;
    font-size: 0.85em;
    margin: 15px 0;
    display: inline-block;
    text-align: left;
    max-width: 450px;

    @media only screen and (min-width: $xlarge) {
        margin-bottom: 30px;
    }

    &:before {
        content: "?";
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        background: $darkgray;
        color: white;
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
    }
}

.cf-location-confirmation {
    display: none;
    background: $lightgray;
    border: 1px solid $gray;
    padding: 15px 10px;
    text-align: center;
    box-shadow: $box-shadow;

    small {
        display: block;
        margin-bottom: 5px;
    }

    span {
        display: block;
        font-size: 0.7em;
        color: lighten($primary, 10%);
    }
}

.BG_check {
    display: none !important;
}


.cf-location-search {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #7F7F7F;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: cf-loader 4s ease-out forwards;

    .cf-location-search-inner {
        border-radius: $border-radius;
        background: white;
        padding: 40px 15px;
        width: 85%;
        max-width: 500px;
    }

    .cf-location-loader {
        width: 106px;
        height: 80px;
        display: block;
        background-image: url(../images/carsfast-loader.gif);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        margin: 0 auto 20px auto;
        animation: cf-zoom 1s ease-in infinite;
    }
}

.cf-location-complete {
    .cf-location-complete-badge {
        width: 65px;
        height: 65px;
        display: block;
        background-image: url(../images/carsfast-shield.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        margin: 0 auto 15px auto;
    }

    .cf-location-city {
        margin-bottom: 30px;
    }

    h3 {
        margin-bottom: 10px;
    }

    p {
        font-size: 0.85em;
    }
}

.cf-location-city {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border: 1px solid $gray;
    border-radius: $border-radius;
    color: $primary;
    font-size: 1.25em;
    width: 75%;
    max-width: 400px;
}

.cf-location-field {

    .address_city,
    .address_state,
    .address_zip {
        transition: all ease-in-out 0.25s;
        transition-delay: 0.15s;
        transform-origin: top;
    }

    &.is__located {

        .address_city,
        .address_state,
        .address_zip {
            visibility: visible;
            opacity: 1;
            transform: scaleY(1);
        }
    }

    &:not(.is__located) {

        .address_city,
        .address_state,
        .address_zip {
            visibility: hidden;
            opacity: 0;
            transform: scaleY(0);
            display: none !important;
        }
    }
}

@keyframes cf-page-transition {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes cf-loader {
    0% {
        opacity: 1;
        visibility: visible;
        display: flex;
    }

    90% {
        opacity: 1;
        visibility: visible;
        display: flex;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes cf-zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.cf-newsletter {
    max-width: 400px !important;

    .gfield,
    .gform_footer {
        margin: 0 !important;
        padding: 0 !important;
    }

    input {
        margin: 0 !important;
        width: 100% !important;
        padding: 10px !important;
    }

    input[type=submit] {
        @extend .primary-app-button;
        min-width: auto !important;
        margin-top: 15px !important;
    }

    .gform_confirmation_message {
        width: 100%;
        margin-top: 15px;
        font-weight: bold;
        color: $primary;
    }
}