$primary: #4F7DE4;
$gray: #cccccc;
$lightgray: lighten($gray, 15%);
$darkgray: darken($gray, 15%);

$small: 500px;
$medium: 750px;
$large: 990px;
$xlarge: 1400px;

$border-radius: 5px;
$box-shadow: inset 0 0 2px 2px rgba(0,0,0,.05);