.check-wrap {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #4F7DE4;
  position: relative;
  overflow: hidden;
  animation: wrap 0.3s ease-in-out forwards;
  animation-delay: .3s;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center; }
  .check-wrap::before, .check-wrap::after {
    content: '';
    position: absolute;
    background-color: white;
    width: 0;
    height: 5px;
    transform-origin: left;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }
  .check-wrap::before {
    top: 37px;
    left: 25px;
    transform: rotate(45deg);
    animation-name: left;
    animation-delay: 0.8s; }
  .check-wrap::after {
    top: 47px;
    left: 33px;
    transform: rotate(-45deg);
    animation-name: right;
    animation-delay: 1.1s; }

@keyframes wrap {
  0% {
    background-color: transparent;
    transform: scale(0); }
  100% {
    background-color: #4F7DE4;
    transform: scale(1); } }

@keyframes left {
  0% {
    width: 0; }
  100% {
    width: 15px; } }

@keyframes right {
  0% {
    width: 0; }
  100% {
    width: 30px; } }

.primary-app-button, .gform_wrapper.cf-application_wrapper .gform_body .gform_page .gform_page_footer .gform_next_button,
.gform_wrapper.cf-application_wrapper .gform_body .gform_page .gform_page_footer input[type=submit], .cf-newsletter input[type=submit] {
  background: #4F7DE4;
  color: white;
  font-family: inherit;
  border-radius: 5px;
  border: none !important;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 15px;
  cursor: pointer;
  transition: ease-in-out 0.15s all;
  min-width: 300px;
  max-width: 100% !important;
  box-sizing: border-box; }
  .primary-app-button:hover, .gform_wrapper.cf-application_wrapper .gform_body .gform_page .gform_page_footer .gform_next_button:hover,
  .gform_wrapper.cf-application_wrapper .gform_body .gform_page .gform_page_footer input:hover[type=submit], .cf-newsletter input:hover[type=submit] {
    opacity: 0.5; }

.gform_wrapper.cf-application_wrapper .validation_error {
  display: none !important; }

.gform_wrapper.cf-application_wrapper .validation_message {
  color: red !important; }

.gform_wrapper.cf-application_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper.cf-application_wrapper li.gfield_error textarea {
  border-color: red !important; }

.gform_wrapper.cf-application_wrapper form .gf_progressbar_wrapper h3.gf_progressbar_title {
  text-align: center;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.gform_wrapper.cf-application_wrapper form .gf_progressbar_wrapper .gf_progressbar {
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background-color: transparent !important; }
  .gform_wrapper.cf-application_wrapper form .gf_progressbar_wrapper .gf_progressbar:after {
    height: 16px;
    margin-top: -16px; }
  .gform_wrapper.cf-application_wrapper form .gf_progressbar_wrapper .gf_progressbar .gf_progressbar_percentage {
    height: 16px;
    background-color: #4F7DE4 !important;
    background-image: none !important;
    overflow: hidden; }
    .gform_wrapper.cf-application_wrapper form .gf_progressbar_wrapper .gf_progressbar .gf_progressbar_percentage span {
      font-size: 0 !important;
      width: 36px;
      height: 16px;
      background-size: 100% auto;
      background-image: url(../images/carsfast-car-icon.png);
      background-color: #E5E5E5;
      margin: 0; }

.gform_wrapper.cf-application_wrapper .gform_body {
  text-align: center;
  margin: 0 auto;
  max-width: 600px; }
  @media only screen and (min-width: 1400px) {
    .gform_wrapper.cf-application_wrapper .gform_body {
      margin-top: 100px;
      font-size: 1.3em; } }
  .gform_wrapper.cf-application_wrapper .gform_body * {
    box-sizing: border-box !important; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container_radio .gfield_radio {
    width: 100% !important; }
    .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container_radio .gfield_radio > li {
      overflow: initial !important; }
      .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container_radio .gfield_radio > li input[type=radio] {
        display: none; }
        .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container_radio .gfield_radio > li input[type=radio]:checked + label {
          border-color: #4F7DE4;
          box-shadow: 0 4px 0px #4F7DE4; }
      .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container_radio .gfield_radio > li label {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
        padding: 10px 15px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        transition: ease-in-out 0.05s all; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container .instruction {
    display: none !important; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container label {
    color: black !important; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    text-align: center; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container input[type=text],
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container input[type=number],
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container input[type=tel],
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container input[type=email] {
    display: block !important;
    background: #f2f2f2;
    padding: 10px 15px !important;
    border: 1px solid #cccccc;
    border-radius: 5px;
    transition: ease-in-out 0.05s all;
    width: 100%;
    max-width: 100% !important;
    box-sizing: border-box;
    height: 40px; }
    .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container input[type=text]::placeholder,
    .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container input[type=number]::placeholder,
    .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container input[type=tel]::placeholder,
    .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container input[type=email]::placeholder {
      color: #cccccc; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container .slider-display {
    margin-top: 10px !important; }
    .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container .slider-display .noUi-handle {
      background: #4F7DE4 !important;
      box-shadow: none !important; }
    .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container .slider-display .min-val-relation,
    .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container .slider-display .max-val-relation {
      display: none !important; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .gfield_description {
    color: #cccccc; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_container_select select,
  .gform_wrapper.cf-application_wrapper .gform_body .gfield .ginput_complex select {
    display: block !important;
    background: #f2f2f2;
    padding: 0 !important;
    border: 1px solid #cccccc;
    border-radius: 5px;
    transition: ease-in-out 0.05s all;
    width: 100%;
    max-width: 100% !important;
    box-sizing: border-box;
    height: 40px;
    margin-top: 12px !important;
    line-height: 1.15 !important;
    margin-bottom: 0 !important;
    text-align-last: center; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield.pre_dollar .ginput_container {
    position: relative; }
    .gform_wrapper.cf-application_wrapper .gform_body .gfield.pre_dollar .ginput_container:before {
      content: "$";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 40px;
      border: 1px solid #cccccc;
      border-right: none;
      border-radius: 5px 0 0 5px;
      font-weight: bold;
      background: white; }
    .gform_wrapper.cf-application_wrapper .gform_body .gfield.pre_dollar .ginput_container input[type=text],
    .gform_wrapper.cf-application_wrapper .gform_body .gfield.pre_dollar .ginput_container input[type=number] {
      width: calc(100% - 45px);
      margin-left: auto;
      border-radius: 0px 5px 5px 0px; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_years .ginput_container, .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_months .ginput_container, .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_hours .ginput_container {
    position: relative; }
    .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_years .ginput_container:after, .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_months .ginput_container:after, .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_hours .ginput_container:after {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 40px;
      border: 1px solid #cccccc;
      border-left: none;
      border-radius: 0px 5px 5px 0px;
      font-weight: bold;
      background: white; }
    .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_years .ginput_container input[type=text],
    .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_years .ginput_container input[type=number], .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_months .ginput_container input[type=text],
    .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_months .ginput_container input[type=number], .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_hours .ginput_container input[type=text],
    .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_hours .ginput_container input[type=number] {
      width: calc(100% - 110px) !important;
      margin-right: auto;
      border-radius: 5px 0 0 5px; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_years .ginput_container:after {
    content: "Years"; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_months .ginput_container:after {
    content: "Months"; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield.post_hours .ginput_container:after {
    content: "Hours"; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield.gfield_error {
    background-color: transparent !important;
    margin-bottom: 0 !important;
    border: none !important;
    padding-top: 0 !important; }
  .gform_wrapper.cf-application_wrapper .gform_body .gfield.cf-radio-two-col .ginput_container_radio .gfield_radio {
    display: inline-block;
    width: 100%; }
    .gform_wrapper.cf-application_wrapper .gform_body .gfield.cf-radio-two-col .ginput_container_radio .gfield_radio li {
      width: 49% !important; }
      .gform_wrapper.cf-application_wrapper .gform_body .gfield.cf-radio-two-col .ginput_container_radio .gfield_radio li:first-child {
        float: left; }
      .gform_wrapper.cf-application_wrapper .gform_body .gfield.cf-radio-two-col .ginput_container_radio .gfield_radio li:last-child {
        float: right; }
  .gform_wrapper.cf-application_wrapper .gform_body .gform_page:not(.cf-location-finder) {
    animation: cf-page-transition 0.25s ease-in; }
  .gform_wrapper.cf-application_wrapper .gform_body .gform_page .gform_page_footer {
    border-top: none !important; }
    .gform_wrapper.cf-application_wrapper .gform_body .gform_page .gform_page_footer .gform_previous_button {
      display: none !important; }
    .gform_wrapper.cf-application_wrapper .gform_body .gform_page .gform_page_footer .gform_next_button,
    .gform_wrapper.cf-application_wrapper .gform_body .gform_page .gform_page_footer input[type=submit] {
      margin: 0 !important; }

.cf-slide-title {
  font-weight: 600 !important;
  font-size: 1.3em;
  line-height: 1.5;
  margin-bottom: 30px; }
  @media only screen and (min-width: 1400px) {
    .cf-slide-title {
      margin-bottom: 50px; } }

.cf-slide-desc {
  padding-left: 40px;
  position: relative;
  font-size: 0.85em;
  margin: 15px 0;
  display: inline-block;
  text-align: left;
  max-width: 450px; }
  @media only screen and (min-width: 1400px) {
    .cf-slide-desc {
      margin-bottom: 30px; } }
  .cf-slide-desc:before {
    content: "?";
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: #a6a6a6;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1; }

.cf-location-confirmation {
  display: none;
  background: #f2f2f2;
  border: 1px solid #cccccc;
  padding: 15px 10px;
  text-align: center;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.05); }
  .cf-location-confirmation small {
    display: block;
    margin-bottom: 5px; }
  .cf-location-confirmation span {
    display: block;
    font-size: 0.7em;
    color: #7b9eeb; }

.BG_check {
  display: none !important; }

.cf-location-search {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #7F7F7F;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: cf-loader 4s ease-out forwards; }
  .cf-location-search .cf-location-search-inner {
    border-radius: 5px;
    background: white;
    padding: 40px 15px;
    width: 85%;
    max-width: 500px; }
  .cf-location-search .cf-location-loader {
    width: 106px;
    height: 80px;
    display: block;
    background-image: url(../images/carsfast-loader.gif);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin: 0 auto 20px auto;
    animation: cf-zoom 1s ease-in infinite; }

.cf-location-complete .cf-location-complete-badge {
  width: 65px;
  height: 65px;
  display: block;
  background-image: url(../images/carsfast-shield.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  margin: 0 auto 15px auto; }

.cf-location-complete .cf-location-city {
  margin-bottom: 30px; }

.cf-location-complete h3 {
  margin-bottom: 10px; }

.cf-location-complete p {
  font-size: 0.85em; }

.cf-location-city {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #4F7DE4;
  font-size: 1.25em;
  width: 75%;
  max-width: 400px; }

.cf-location-field .address_city,
.cf-location-field .address_state,
.cf-location-field .address_zip {
  transition: all ease-in-out 0.25s;
  transition-delay: 0.15s;
  transform-origin: top; }

.cf-location-field.is__located .address_city,
.cf-location-field.is__located .address_state,
.cf-location-field.is__located .address_zip {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1); }

.cf-location-field:not(.is__located) .address_city,
.cf-location-field:not(.is__located) .address_state,
.cf-location-field:not(.is__located) .address_zip {
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  display: none !important; }

@keyframes cf-page-transition {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes cf-loader {
  0% {
    opacity: 1;
    visibility: visible;
    display: flex; }
  90% {
    opacity: 1;
    visibility: visible;
    display: flex; }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none; } }

@keyframes cf-zoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } }

.cf-newsletter {
  max-width: 400px !important; }
  .cf-newsletter .gfield,
  .cf-newsletter .gform_footer {
    margin: 0 !important;
    padding: 0 !important; }
  .cf-newsletter input {
    margin: 0 !important;
    width: 100% !important;
    padding: 10px !important; }
  .cf-newsletter input[type=submit] {
    min-width: auto !important;
    margin-top: 15px !important; }
  .cf-newsletter .gform_confirmation_message {
    width: 100%;
    margin-top: 15px;
    font-weight: bold;
    color: #4F7DE4; }

/*# sourceMappingURL=carsfast.css.map */